In [1]:
import numpy as np
import pandas as pd

In [2]:
leak = pd.read_csv('../cache/TestEtraMatchingUnder_259_R14_G12_B10.csv')

In [3]:
leak.head()

,Extra,Test,SimR,SimG,SimB
0,ENSG00000001497_44431_556_B9_1,7729b27c-bacc-11e8-b2b8-ac1f6b6435d0,10,6,2
1,ENSG00000006194_35086_383_E8_7,5661665e-bacf-11e8-b2b8-ac1f6b6435d0,0,0,0
2,ENSG00000008324_47377_688_E7_10,b029f372-bad9-11e8-b2b9-ac1f6b6435d0,2,0,2
3,ENSG00000019186_63771_1414_D12_2,adc182fa-bad2-11e8-b2b8-ac1f6b6435d0,6,2,0
4,ENSG00000025770_67932_1255_A3_4,39508fe6-bad3-11e8-b2b8-ac1f6b6435d0,0,0,0

In [4]:
hpav18 = pd.read_csv('../data/HPAv18RBGY_wodpl.csv')

In [5]:
hpav18.head()

                Id        Target
0  10580_1610_C1_1  13 25 0 2 21
1  10580_1610_C1_2  13 25 0 2 21
2  10580_1756_B1_1  13 25 0 2 21
3  10580_1756_B1_2  13 25 0 2 21
4  10580_1758_B1_1  13 25 0 2 21

In [17]:
leak_test = pd.DataFrame(leak['Test'].values)

In [19]:
leak_test.to_csv('../cache/leak_test.csv', index=False)

In [25]:
hpav18.loc[hpav18.Id == '44431_556_B9_1']

                  Id   Target
1784  44431_556_B9_1  25 18 0

In [32]:
leak_id= []
for name in leak['Extra']:
    name = name.split('_')
    name = name[1]+'_'+name[2]+'_'+name[3]+'_'+name[4]
    leak_id.append(name)

In [33]:
leak_hpav18 = hpav18.loc[hpav18.Id.isin(leak_id)]

In [34]:
leak_hpav18.head()

                    Id   Target
269   31240_1645_E5_34    18 17
1784    44431_556_B9_1  25 18 0
2341    35086_383_E8_7  25 17 0
2688   47377_688_E7_10     23 2
3453  63771_1414_D12_2  23 0 21

In [60]:
leak_test_id = []
leak_test_target = []
for ii, row in leak.iterrows():
#     if ii != 0:
#         continue
#     print(row)
    name = row['Extra']
    test = row['Test']
#     print(name, test)
    name = name.split('_')
    name = name[1]+'_'+name[2]+'_'+name[3]+'_'+name[4]
    leak_hpav18 = hpav18.loc[hpav18.Id ==name]
    target = leak_hpav18.iloc[0]['Target']
    leak_test_id.append(test)
    leak_test_target.append(target)

In [68]:
leak_test = pd.DataFrame()
leak_test['Id'] = leak_test_id
leak_test['Target'] = leak_test_target

In [69]:
leak_test.head()

                                     Id   Target
0  7729b27c-bacc-11e8-b2b8-ac1f6b6435d0  25 18 0
1  5661665e-bacf-11e8-b2b8-ac1f6b6435d0  25 17 0
2  b029f372-bad9-11e8-b2b9-ac1f6b6435d0     23 2
3  adc182fa-bad2-11e8-b2b8-ac1f6b6435d0  23 0 21
4  39508fe6-bad3-11e8-b2b8-ac1f6b6435d0     16 0

In [70]:
leak_test.shape

(259, 2)

In [71]:
sub41 = pd.read_csv('../submissions/sub41-t.csv')

In [72]:
sub41.shape

(11702, 2)

In [73]:
sub41.head()

                                     Id Predicted
0  00008af0-bad0-11e8-b2b8-ac1f6b6435d0         2
1  0000a892-bacf-11e8-b2b8-ac1f6b6435d0         5
2  0006faa6-bac7-11e8-b2b7-ac1f6b6435d0    0 5 25
3  0008baca-bad7-11e8-b2b9-ac1f6b6435d0         0
4  000cce7e-bad4-11e8-b2b8-ac1f6b6435d0        23

In [75]:
sub41.loc[sub41.Id == 'b029f372-bad9-11e8-b2b9-ac1f6b6435d0']

                                        Id Predicted
8073  b029f372-bad9-11e8-b2b9-ac1f6b6435d0     23 25

In [74]:
leak_test.to_csv('../cache/leak_test.csv', index=False)

In [76]:
for idx, row in leak_test.iterrows():
    test_id = row['Id']
    target = row['Target']
    sub41.loc[sub41.Id == test_id, 'Predicted'] = target

In [77]:
sub41.loc[sub41.Id == 'b029f372-bad9-11e8-b2b9-ac1f6b6435d0']

                                        Id Predicted
8073  b029f372-bad9-11e8-b2b9-ac1f6b6435d0      23 2

In [78]:
sub41.to_csv('../submissions/sub41-t-l.csv', index=False)

In [79]:
%%time
!kaggle competitions submit -c human-protein-atlas-image-classification -f ../submissions/sub41-t-l.csv -m ""

100%|████████████████████████████████████████| 469k/469k [00:12<00:00, 39.1kB/s]
Successfully submitted to Human Protein Atlas Image ClassificationCPU times: user 346 ms, sys: 93.8 ms, total: 440 ms
Wall time: 15.2 s

In [80]:
from time import sleep
sleep(20)
!kaggle competitions submissions -c human-protein-atlas-image-classification

fileName          date                 description  status    publicScore  privateScore
----------------  -------------------  -----------  --------  -----------  ------------
sub41-t-l.csv     2018-12-08 09:27:37               complete  0.541        None
sub41-max-b.csv   2018-12-08 08:04:32               complete  0.478        None
sub41-max-a.csv   2018-12-08 08:03:03               complete  0.479        None
sub41-c.csv       2018-12-07 01:29:14               complete  0.493        None
sub41-f.csv       2018-12-07 01:28:39               complete  0.481        None
sub41-t.csv       2018-12-07 01:27:50               complete  0.498        None
sub41-v.csv       2018-12-07 01:27:04               complete  0.484        None
sub41.csv         2018-12-07 01:26:29               complete  0.494        None
sub33-mag-05.csv  2018-12-06 12:29:28               complete  0.492        None
sub33-mag-c.csv   2018-12-06 12:28:48               complete  0.491        None
sub33-mag-f.csv   2018-12-06 12:28:08               complete  0.488        None
sub33-mag-t.csv   2018-12-06 12:27:36               complete  0.481        None
sub33-mag.csv     2018-12-06 12:26:29               complete  0.491        None
sub40-a.csv       2018-12-02 07:28:08               complete  0.447        None
sub40-a.csv       2018-12-02 07:18:27               complete  0.477        None
sub41-a.csv       2018-12-01 19:07:17               complete  0.477        None
sub40-a.csv       2018-11-29 14:06:01               complete  0.417        None
sub38-a.csv       2018-11-29 02:08:54               complete  0.356        None
sub39-c.csv       2018-11-29 02:08:16               complete  0.471        None
sub39-d.csv       2018-11-28 18:32:15               complete  0.469        None

In [6]:
submit = pd.read_csv('../data/sample_submission.csv')

In [7]:
submit.head()

                                     Id  Predicted
0  00008af0-bad0-11e8-b2b8-ac1f6b6435d0          0
1  0000a892-bacf-11e8-b2b8-ac1f6b6435d0          0
2  0006faa6-bac7-11e8-b2b7-ac1f6b6435d0          0
3  0008baca-bad7-11e8-b2b9-ac1f6b6435d0          0
4  000cce7e-bad4-11e8-b2b8-ac1f6b6435d0          0

In [9]:
from tqdm import tqdm_notebook
import pickle

In [38]:
train = pd.read_csv('../data/train_combined_all.csv')
train.shape

(105678, 2)

In [39]:
train = train.set_index('Id')

In [40]:
train.loc['23e76e20-bbc5-11e8-b2bc-ac1f6b6435d0']['Target']

'19 0'

In [42]:
Id = []
Predicted = []
for idx, name in tqdm_notebook(enumerate(list(submit['Id'].values))):
#     if idx != 0:
#         continue
    Id.append(name)
    fn = '../cache/pkl/{}.pkl'.format(name)
    with open(fn, 'rb') as f:
        top10 = pickle.load(f)
#     print(top10, top10[0], top10[0][0])
    Predicted.append(train.loc[top10[0][0]]['Target'])

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [17]:
print(train.loc[train.Id == '23e76e20-bbc5-11e8-b2bc-ac1f6b6435d0'])
print(train.loc[train.Id == '2ded4a66-bbb6-11e8-b2ba-ac1f6b6435d0'])
print(train.loc[train.Id == '90871204-bbbd-11e8-b2ba-ac1f6b6435d0'])
print(train.loc[train.Id == '28053_918_B3_4'])
print(train.loc[train.Id == '24596_303_D9_1'])
print(train.loc[train.Id == '68187_1539_G7_4'])
print(train.loc[train.Id == '41231_516_C1_1'])
print(train.loc[train.Id == '13210_99_C11_1'])
print(train.loc[train.Id == '41741_557_G6_2'])
print(train.loc[train.Id == '39477_557_E2_1'])

                                        Id Target
4325  23e76e20-bbc5-11e8-b2bc-ac1f6b6435d0   19 0
                                        Id Target
5536  2ded4a66-bbb6-11e8-b2ba-ac1f6b6435d0   18 0
                                         Id   Target
17480  90871204-bbbd-11e8-b2ba-ac1f6b6435d0  19 11 0
                   Id Target
35685  28053_918_B3_4     14
                   Id Target
37714  24596_303_D9_1     23
                    Id Target
39503  68187_1539_G7_4      6
                   Id Target
47137  41231_516_C1_1     25
                   Id Target
56990  13210_99_C11_1      6
                   Id Target
61147  41741_557_G6_2     25
                   Id Target
77764  39477_557_E2_1     25

In [44]:
df = pd.DataFrame()
df['Id'] = Id
df['Predicted'] = Predicted
df.head()

                                     Id Predicted
0  00008af0-bad0-11e8-b2b8-ac1f6b6435d0      19 0
1  0000a892-bacf-11e8-b2b8-ac1f6b6435d0     25 21
2  0006faa6-bac7-11e8-b2b7-ac1f6b6435d0     1 2 0
3  0008baca-bad7-11e8-b2b9-ac1f6b6435d0         0
4  000cce7e-bad4-11e8-b2b8-ac1f6b6435d0         0

In [46]:
df.head(25)

                                      Id Predicted
0   00008af0-bad0-11e8-b2b8-ac1f6b6435d0      19 0
1   0000a892-bacf-11e8-b2b8-ac1f6b6435d0     25 21
2   0006faa6-bac7-11e8-b2b7-ac1f6b6435d0     1 2 0
3   0008baca-bad7-11e8-b2b9-ac1f6b6435d0         0
4   000cce7e-bad4-11e8-b2b8-ac1f6b6435d0         0
5   00109f6a-bac8-11e8-b2b7-ac1f6b6435d0  19 25 21
6   001765de-bacd-11e8-b2b8-ac1f6b6435d0      25 0
7   0018641a-bac9-11e8-b2b8-ac1f6b6435d0       5 0
8   00200f22-bad7-11e8-b2b9-ac1f6b6435d0         0
9   0026f154-bac6-11e8-b2b7-ac1f6b6435d0        25
10  002729d2-bace-11e8-b2b8-ac1f6b6435d0        23
11  002c1a7c-bad4-11e8-b2b8-ac1f6b6435d0         6
12  003170fa-bacd-11e8-b2b8-ac1f6b6435d0      18 0
13  0031820a-baca-11e8-b2b8-ac1f6b6435d0        25
14  00407c16-bad3-11e8-b2b8-ac1f6b6435d0    25 2 0
15  005ce2ea-bacc-11e8-b2b8-ac1f6b6435d0      23 2
16  00631ec8-bad9-11e8-b2b9-ac1f6b6435d0         0
17  00673f64-bad2-11e8-b2b8-ac1f6b6435d0      25 0
18  0070171c-bad0-11e8-b2b8-ac1f6b6435d0        21
19  007290b6-bad8-11e8-b2b9-ac1f6b6435d0   19 25 0
20  0075ee26-bacb-11e8-b2b8-ac1f6b6435d0         4
21  00763d66-bacd-11e8-b2b8-ac1f6b6435d0        12
22  007eca68-bac7-11e8-b2b7-ac1f6b6435d0      25 0
23  008ab0b8-bad5-11e8-b2b8-ac1f6b6435d0    25 5 3
24  008e8c3e-bad4-11e8-b2b8-ac1f6b6435d0         0

In [45]:
df.shape

(11702, 2)

In [47]:
df.to_csv('../submissions/sub_43max_test1.csv', index=False)

In [48]:
%%time
!kaggle competitions submit -c human-protein-atlas-image-classification -f ../submissions/sub_43max_test1.csv -m ""

from time import sleep
sleep(20)
!kaggle competitions submissions -c human-protein-atlas-image-classification

100%|████████████████████████████████████████| 468k/468k [00:12<00:00, 37.1kB/s]
Successfully submitted to Human Protein Atlas Image ClassificationfileName             date                 description  status    publicScore  privateScore
-------------------  -------------------  -----------  --------  -----------  ------------
sub_43max_test1.csv  2018-12-24 14:32:34               complete  0.110        None
sub58-max-a.csv      2018-12-22 21:48:49               complete  0.446        None
sub57-max-e.csv      2018-12-22 02:08:14               complete  0.075        None
sub57-max-d.csv      2018-12-22 01:57:31               complete  0.464        None
sub57-max-c.csv      2018-12-22 01:47:16               complete  0.463        None
sub57-max-b.csv      2018-12-22 01:45:44               complete  0.456        None
sub57-max-a.csv      2018-12-21 23:46:32               complete  0.455        None
sub57-max.csv        2018-12-21 08:43:25               complete  0.000        None
sub50-max-055.csv    2018-12-18 20:29:16               complete  0.510        None
sub50-max-f.csv      2018-12-18 20:15:51               complete  0.513        None
sub50-max-f-1-l.csv  2018-12-18 16:40:56               complete  0.546        None
sub50-max-f-1.csv    2018-12-18 16:38:26               complete  0.525        None
sub50-max-f-1.csv    2018-12-18 15:53:31               complete  0.061        None
sub55-max-045-l.csv  2018-12-17 20:34:48               complete  0.574        None
sub55-max-05-l.csv   2018-12-17 20:32:23               complete  0.581        None
sub55-max-045.csv    2018-12-17 20:31:53               complete  0.567        None
sub55-max-05.csv     2018-12-17 20:31:18               complete  0.559        None
sub55-max-05.csv     2018-12-17 20:30:37               complete  0.559        None
sub50_22.csv         2018-12-16 02:56:59               complete  0.579        None
sub50_22.csv         2018-12-16 02:32:16               complete  0.578        None
CPU times: user 357 ms, sys: 162 ms, total: 519 ms
Wall time: 42.1 s

In [ ]:
Id = []
Predicted = []
for idx, name in tqdm_notebook(enumerate(list(submit['Id'].values))):
#     if idx != 0:
#         continue
    
    fn = '../cache/pkl/{}.pkl'.format(name)
    with open(fn, 'rb') as f:
        top10 = pickle.load(f)
#     print(top10, top10[0], top10[0][0])
    if top10[0][1] <= 10:
        Id.append(name)
        Predicted.append(train.loc[top10[0][0]]['Target'])